.nav {
    background-color: #c6bb9d;
    margin: 0px !important;
    padding: 15px;
}

.nav-link {
    white-space: nowrap;
    margin-right: 10px;
    float: right; 
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a:hover { color: #e74525; }

.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    background: #c6bb9d;
    
    height: 24vw;
    margin: 1%;
    width: 23%; 
    border-radius: 5%;
    font-weight: 900;
    border: 3px solid #e74525;
    box-shadow: 4px 4px 5px #999;
    border-width: 5px;
}
button:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  
button:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }

.btn-little {
    background: #c6bb9d;
    height: 2vw;
    width: 15%; 
    font-weight: 900;
    margin-left: center;
    margin-right: center;

}

.rectangle {
    height: 15px;
    width: 75px;
    background-color: #e74525;
  }

  #header {
    border-top: 3px;
    border-top-color: #e74525;
    box-lines: 10px;
}

  @media screen and (max-width:500px){
    button {
        width: 30%; 
    }
    
  }

@media screen and (max-width:475px) {
    button {
        width: 40%
    }
}

@media screen and (max-width: 400px) {
    button {
        width: 80%;
    }
}



